{%extends 'base.html'%}
{%load forms%}
{%block breadcrumb%}
  <li><a href="{%url 'machines'%}">Machine list</a></li>
{%endblock%}


{%block middle_col%}
   <div class="row">
      {%for obj in listado%}
          <div class="col-md-3">
            <div class="panel panel-default">
               <div i="{{obj.pk}}" class="panel-body list-panel">
                  <a href="{%url "machine" obj.pk%}">{{obj|truncatechars:25}}</a>
               </div>
            </div>
          </div>
      {%empty%}
              <p class="lead text-warning">No results</p>
      {%endfor%}
   </div>
  {%paginator listado%}
{%endblock%}

{%block script%}{%endblock%}

{%block document_ready%}



{%endblock%}
